html{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#login-form{
    width: 30%;
    padding: 20px;
    margin-left: 35%;
    margin-top: 15%;
    background-color: #333333;
    border-radius: 10px;
    color: white;
}